@using Dfe.Rscd.Web.Application.Models.Common
@using Dfe.Rscd.Web.Application.Application.Helpers
@model Dfe.Rscd.Web.Application.Models.ViewModels.Pupil.MatchedPupilViewModel
<div class="govuk-grid-row govuk-!-padding-top-2">
    <div class="app-grid-column-two-thirds--always">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Pupil details</h2>
    </div>
    <div class="app-grid-column-one-third--always app-align-right">
        <a class="print-link" href="javascript:window.print()">Print</a>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list app-summary-list app-summary-list--mobile-inline app-summary-list--pupil-details">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Status
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.PupilViewModel.PincludeCode
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Model.PersonTitlecase name
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.PupilViewModel.FullName
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    UPN
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.PupilViewModel.UPN
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.PupilViewModel.DateOfBirth.ToString("dd/MM/yyyy")
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Age at the start of academic year
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.PupilViewModel.Age
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Gender
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.PupilViewModel.Gender.Description
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    SEN
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.PupilViewModel.SEN.Code: @Model.PupilViewModel.SEN.Description
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Admission date
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.PupilViewModel.DateOfAdmission.ToString("dd/MM/yyyy")
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Year group
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.PupilViewModel.YearGroup
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Ethnic code group
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.PupilViewModel.EthnicCodeGroup.Code: @Model.PupilViewModel.EthnicCodeGroup.Description
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    First language
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.PupilViewModel.FirstLanguage.Code: @Model.PupilViewModel.FirstLanguage.Description
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Free school meals in the last 6 years
                </dt>
                <dd class="govuk-summary-list__value">
                    @(Model.PupilViewModel.FreeSchoolsInLast6Years ? "Yes" : "No")
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Children looked after
                </dt>
                <dd class="govuk-summary-list__value">
                    @(Model.PupilViewModel.ChildrenLookedAfter ? "Yes" : "No")
                </dd>
            </div>
        </dl>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds app-padding-top-mobile-4">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Pupil prior attainment results</h2>
    </div>
</div>
<div class="govuk-grid-row">
    @{
        var reading = Model.Results.FirstOrDefault(r => r.Subject == Ks2Subject.Reading);
    }
    <div class="govuk-grid-column-two-thirds app-padding-top-mobile-2">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-3">Key stage 2 Reading</h2>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list app-summary-list app-summary-list--mobile-inline app-summary-list--pupil-details" id="qa-target-reading">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Exam year
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.NotRecordedIfNullOrEmpty(reading?.ExamYear)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Test mark
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.NotRecordedIfNullOrEmpty(reading?.TestMark)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Scaled score
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.NotRecordedIfNullOrEmpty(reading?.ScaledScore)
                </dd>
            </div>
        </dl>
    </div>
</div>
<div class="govuk-grid-row">
    @{
        var writing = Model.Results.FirstOrDefault(r => r.Subject == Ks2Subject.Writing);
    }
    <div class="govuk-grid-column-two-thirds app-padding-top-mobile-2">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-3">Key stage 2 Writing</h2>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list app-summary-list app-summary-list--mobile-inline app-summary-list--pupil-details" id="qa-target-writing">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Exam year
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.NotRecordedIfNullOrEmpty(writing?.ExamYear)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Teacher assessment
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.NotRecordedIfNullOrEmpty(writing?.TestMark)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Scaled score
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.NotRecordedIfNullOrEmpty(writing?.ScaledScore)
                </dd>
            </div>
        </dl>
    </div>
</div>
<div class="govuk-grid-row">
    @{
        var maths = Model.Results.FirstOrDefault(r => r.Subject == Ks2Subject.Maths);
    }
    <div class="govuk-grid-column-two-thirds app-padding-top-mobile-2">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-3">Key stage 2 Maths</h2>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list app-summary-list app-summary-list--mobile-inline app-summary-list--pupil-details" id="qa-target-maths">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Exam year
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.NotRecordedIfNullOrEmpty(maths?.ExamYear)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Test mark
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.NotRecordedIfNullOrEmpty(maths?.TestMark)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Scaled score
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.NotRecordedIfNullOrEmpty(maths?.ScaledScore)
                </dd>
            </div>
        </dl>
    </div>
</div>

