@using Dfe.CspdAlpha.Web.Application.Application.Helpers
@using Dfe.CspdAlpha.Web.Application.Models.ViewModels
@model TaskListViewModel
@{
    ViewBag.Title = "Task list";
    ViewBag.ContentClass = "app-detail-page-main";
}

@section BackLink
{
    <a class="govuk-back-link" href="/">Back to homepage</a>
}

<partial name="_CheckDataNavigation" model="@Model.CheckDataNavigationModel" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">@ViewBag.Title</h1>
    </div>

    <div class="govuk-grid-column-full">
        <details class="govuk-details govuk-!-font-size-16" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    View school details
                </span>
            </summary>
            <div class="govuk-details__text">
                <partial name="_SchoolDetails" model="@Model.SchoolDetails" />
            </div>
        </details>
    </div>
    <div class="govuk-grid-column-three-quarters">
        <p class="govuk-body">@CheckingWindowHelper.GetCheckingWindowDescription(Model.CheckingWindow)</p>
    </div>
    <div class="govuk-grid-column-three-quarters">
        <p class="govuk-body">@Model.GetLeadText()</p>
    </div>
    <div class="govuk-grid-column-one-quarter app-align-right govuk-!-padding-bottom-4">
        <a class="print-link" href="javascript:window.print()">Print</a>
    </div>
    <div class="govuk-grid-column-full">
        <ol class="app-task-list">
            <partial name="./Partial/_TaskOptions_@Model.CheckingWindow.ToString().ToLower()" model="@Model" />
            <li>
                <h2 class="app-task-list__section">3. Confirm data</h2>
                <ul class="app-task-list__items">
                    @if (!Model.ReviewChecked)
                    {
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">Confirm data</span>
                            <span class="app-task-list__tag">Cannot start yet</span>
                        </li>
                    }
                    else if (!Model.DataConfirmed)
                    {
                        <li class="app-task-list__item app-task-list__item-review">
                            <span class="app-task-list__task-name">Click to confirm data</span>
                            <form asp-action="ConfrimData" method="post">
                                <input type="submit" class="govuk-button app-task-list__cta" data-module="govuk-button" value="Confirm" />
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">Confirm data</span>
                            <span class="app-task-list__tag">Confirmed</span>
                        </li>
                    }
                </ul>
            </li>
        </ol>
    </div>
</div>

