@using Dfe.CspdAlpha.Web.Application.Models.ViewModels.Amendments
@model QuestionViewModel
@{
    var currentQuestion = Model.CurrentQuestion;
    ViewData["hasErrors"] = Model.ValidationErrors?.Any();
}

@section BackLink
{
    <a class="govuk-back-link" asp-controller="@Model.BackController" asp-action="@Model.BackAction">Back</a>
}

<div asp-validation-summary="All"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">@Model.GetTitle()</h1>
    </div>

    <div class="govuk-grid-column-full">
        <details class="govuk-details govuk-!-font-size-16" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    View pupil details
                </span>
            </summary>
            <div class="govuk-details__text">
                <partial name="_PupilDetailsView" model="@Model.PupilDetails" />
            </div>
        </details>
    </div>
</div>

<form method="post" novalidate="novalidate">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div>
                <input name="fieldType" id="fieldType" value="@currentQuestion.QuestionType" type="hidden" />
                <input name="questionId" id="questionId" value="@currentQuestion.Id" type="hidden" />
                <input name="currentIndex" id="currentIndex" value="@Model.CurrentQuestionIndex" type="hidden" />
                <partial name="./Partial/_Control_@currentQuestion.QuestionType.ToString()" model="@currentQuestion" view-data='ViewData'/>
                <div>
                    <button name="Continue" value="true" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<partial name="_CancelAmendment" />
