@using Dfe.CspdAlpha.Web.Application.Models.ViewModels.Amendments
@model AmendmentViewModel
@{
    ViewData["Title"] = "Request for pupil addition:<br/> " + Model.AddPupilViewModel.FullName;
    ViewBag.ContentClass = "app-detail-page-main";
}

@section BackLink
{
    <a class="govuk-back-link" asp-controller="Amendments" asp-action="Index">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">@Html.Raw(ViewBag.Title)</h1>
    </div>
</div>
<div class="govuk-grid-row govuk-!-padding-top-2">
    <div class="app-grid-column-two-thirds--always">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Pupil details</h2>
    </div>
    <div class="app-grid-column-one-third--always app-align-right">
        <a class="print-link" href="javascript:window.print()">Print</a>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list app-summary-list app-summary-list--mobile-inline">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Pupil ID
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.AddPupilViewModel.UPN
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    First name
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.AddPupilViewModel.FirstName
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Last name
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.AddPupilViewModel.LastName
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.AddPupilViewModel.DateOfBirth.ToString("dd/MM/yyyy")
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Age
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.PupilAge
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Gender
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.AddPupilViewModel.Gender
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Admission date
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.AddPupilViewModel.DateOfAdmission.ToString("dd/MM/yyyy")
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Year group
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.AddPupilViewModel.YearGroup
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Postcode
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.AddPupilViewModel.PostCode
                </dd>
            </div>
        </dl>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds app-padding-top-mobile-2">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Pupil prior attainment results</h2>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list app-summary-list app-summary-list--mobile-inline">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Results for
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.AddPriorAttainmentViewModel.ResultFor.Replace("resultfor", "Result for ")
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Test
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.AddPriorAttainmentViewModel.Test.Replace("test", "Test ")
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Academic year
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.AddPriorAttainmentViewModel.AcademicYear.Replace("academicyear", "Academic year ")
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Level
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.AddPriorAttainmentViewModel.Level.Replace("level", "Level ")
                </dd>
            </div>
        </dl>
    </div>
</div>

