@model Dfe.Rscd.Web.Application.Models.ViewModels.TaskListViewModel

<li>
    <h2 class="app-task-list__section">@Model.ReviewedHeader</h2>
    <ul class="app-task-list__items">
        <li class="app-task-list__item">
            <span class="app-task-list__task-name">
                <a asp-controller="School">School performance summary</a>
            </span>
            @if (Model.ReviewChecked)
            {
                <strong class="govuk-tag app-task-list__tag">@Model.ReviewedCopy</strong>
            }
            else
            {
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">@Model.NotReviewedCopy</strong>
            }
        </li>
        <li class="app-task-list__item">
            <span class="app-task-list__task-name"><a asp-controller="Pupil">Student list</a></span>
            @if (Model.ReviewChecked)
            {
                <strong class="govuk-tag app-task-list__tag">@Model.ReviewedCopy</strong>
            }
            else
            {
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">@Model.NotReviewedCopy</strong>
            }
        </li>
        <li class="app-task-list__item app-task-list__item-review">
            @if (Model.ReviewChecked)
            {
                <span class="app-task-list__task-name">View data</span>
                <strong class="govuk-tag app-task-list__tag">Completed</strong>
            }
            else
            {
                <form asp-action="Review" method="post">
                    <span class="app-task-list__task-name">
                        Click to confirm you have viewed your data<br />
                        <input type="submit" class="govuk-button app-task-list__cta" data-module="govuk-button" value="Confirm" />
                    </span>
                </form>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not completed</strong>
            }
        </li>
    </ul>
</li>
<li>
    <h2 class="app-task-list__section">2. Request amendments</h2>
    <ul class="app-task-list__items">
        @if (Model.ReviewChecked)
        {
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">Request to add a student</span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not active</strong>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">Request to remove a student</span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not active</strong>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">Request to add a result</span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not active</strong>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">Request to amend/remove a result</span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not active</strong>
            </li>
        }
        else
        {
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">Request to add a student</span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">Request to remove a student</span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">Request to add a result</span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">Request to amend/remove a result</span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
            </li>
        }
    </ul>
</li>

