@using Dfe.CspdAlpha.Web.Application.Models.ViewModels
@model SchoolViewModel
@{
    ViewBag.Title = "Key stage 4 School performance";
    ViewBag.ContentClass = "app-detail-page-main";
}

@section BackLink
{
    <text>&nbsp;</text>
}

<partial name="_CheckDataNavigation" model="@Model.CheckDataNavigationModel"/>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">@ViewBag.Title</h1>
    </div>

    <div class="govuk-grid-column-full">
        <details class="govuk-details govuk-!-font-size-16" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    View school details
                </span>
            </summary>
            <div class="govuk-details__text">
                <partial name="_SchoolDetails" model="@Model.SchoolDetails"/>
            </div>
        </details>
    </div>

    <div class="govuk-grid-column-three-quarters">
        <p class="govuk-body">@(Model.LateCheckingPhase ? "Kay stage 4 Late results" : "Key stage 4 June checking exercise")</p>
        <p>@Html.Raw(Model.DataDescription)</p>

    </div>
    <div class="govuk-grid-column-one-quarter app-align-right govuk-!-padding-bottom-4">
        <a class="print-link" href="javascript:window.print()">Print</a>
    </div>

    <div class="govuk-grid-column-full">
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-heading-0">
                            Cohort
                        </span>
                    </h2>
                </div>
                <div id="accordion-content-0" class="govuk-accordion__section-content" aria-labelledby="accordion-heading-0">
                    <dl class="govuk-summary-list app-summary-list app-summary-list__school-scores">
                        @foreach (var cohortMeasure in Model.CohortMeasures)
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    @cohortMeasure.Name
                                </dt>

                                <dd class="govuk-summary-list__value">
                                    @cohortMeasure.Data
                                </dd>
                            </div>
                        }
                    </dl>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-heading-1">
                            Headline measures
                        </span>
                    </h2>
                </div>
                <div id="accordion-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-heading-1">
                    <dl class="govuk-summary-list app-summary-list app-summary-list__school-scores">
                        @foreach (var measure in Model.HeadlineMeasures)
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    @measure.Name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @measure.Data
                                </dd>
                            </div>
                        }
                    </dl>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-heading-2">
                            Additional measures
                        </span>
                    </h2>
                </div>
                <div id="accordion-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-heading-2">
                    <dl class="govuk-summary-list app-summary-list app-summary-list__school-scores">
                        @foreach (var measure in Model.AdditionalMeasures)
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    @measure.Name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @measure.Data
                                </dd>
                            </div>
                        }
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

