@using Dfe.CspdAlpha.Web.Application.Models.ViewModels.RemovePupil
@using Dfe.CspdAlpha.Web.Application.Models.Common
@using Dfe.Rscd.Web.ApiClient
@model RemovePupilViewModel
@{
    var phase = Model.CheckingWindow.ToString().ToLower().Substring(0, 3);
    ViewData["Title"] = $"This is a match for the {Model.PersonLowercase} you want to request to remove";
}
@section BackLink
{
    @if (Model.QueryType == QueryType.None)
    {
        <a class="govuk-back-link" asp-controller="RemovePupil" asp-action="Index">Back</a>

    }
    else
    {
        <a class="govuk-back-link" asp-controller="RemovePupil" asp-action="Results" asp-route-SearchType="@Model.QueryType" asp-route-Query="@Model.query">Back</a>
    }
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">@ViewBag.Title</h1>
    </div>
</div>

<partial name="_PupilView_@phase" model="@Model.MatchedPupilViewModel" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="app-padding-top-mobile-4">Continue to remove this @Model.PersonLowercase</p>
        <a asp-action="Reason" asp-route-matchedId="@Model.MatchedPupilViewModel.PupilViewModel.ID" class="govuk-button" data-module="govuk-button">Continue</a>
    </div>
</div>

<partial name="_CancelAmendment" />
