@using Dfe.CspdAlpha.Web.Application.Models.ViewModels.RemovePupil
@model ReasonViewModel
@{
    ViewData["Title"] = "Select a reason for request to remove a student";
}

@section BackLink
{
    @if (!string.IsNullOrWhiteSpace(Model.Query))
    {
        <a class="govuk-back-link" asp-action="Results" asp-route-searchtype="@Model.SearchType" asp-route-query="@Model.Query">Back</a>
    }
    else if (!string.IsNullOrWhiteSpace(Model.MatchedId))
    {
        <a class="govuk-back-link" asp-action="MatchedPupil" asp-route-id="@Model.MatchedId" asp-route-query="@Model.Query">Back</a>
    }
    else
    {
        <a class="govuk-back-link" asp-action="Index">Back</a>
    }
}

<div asp-validation-summary="All"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">@ViewData["Title"]</h1>
    </div>

    <div class="govuk-grid-column-full">
        <details class="govuk-details govuk-!-font-size-16" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    View student details
                </span>
            </summary>
            <div class="govuk-details__text">
                <partial name="_PupilDetailsView" model="@Model.PupilDetails" />
            </div>
        </details>
    </div>
</div>

<form method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <div class="govuk-form-group" asp-for="SelectedReasonCode">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-legend govuk-fieldset__legend--s govuk-!-margin-bottom-4">
                        Select a reason
                    </legend>
                    <div class="govuk-radios" asp-for="SelectedReasonCode">
                        @foreach (var reason in Model.Reasons.OrderBy(x=>x.ListOrder))
                        {
                            <div class="govuk-radios__item">
                                <input type="radio" asp-for="SelectedReasonCode" id="SelectedReason-@reason.IncAdjReasonId" value="@reason.IncAdjReasonId" class="govuk-radios__input" />
                                <label class="govuk-label govuk-radios__label" for="SelectedReason-@reason.IncAdjReasonId">
                                    @reason.IncAdjReasonDescription
                                </label>
                            </div>
                        }
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <input type="submit" class="govuk-button" data-module="govuk-button" value="Continue" />
        </div>
    </div>
</form>

<partial name="_CancelAmendment" />
