@using Dfe.Rscd.Web.ApiClient
@model Dfe.Rscd.Web.Application.Models.ViewModels.RemovePupil.ResultsViewModel
@{
    ViewBag.Title = Model.PageTitle;
}

@section BackLink
{
    <a class="govuk-back-link" asp-controller="RemovePupil" asp-action="Index">Back</a>
}

<div asp-validation-summary="All"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">@ViewBag.Title</h1>
    </div>
</div>

@if (Model.PupilList.Count == 0)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <p class="govuk-body"><a class="govuk-link" asp-controller="RemovePupil" asp-action="Index">Search again</a> for a @Model.PersonLowercase you want to request to remove</p>
        </div>
    </div>
}
else
{
    <form asp-action="Results" method="post">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <div class="govuk-form-group" asp-for="SelectedID">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-legend govuk-fieldset__legend--s govuk-!-margin-bottom-4">
                            Select one
                        </legend>
                        <div class="govuk-radios" asp-for="SelectedID" id="SelectedID">
                            @foreach (var student in Model.PupilList)
                            {
                             <div class="govuk-radios__item app-radios-multiline__item app-radios-search-result">
                                <input type="radio" asp-for="SelectedID" id="PupilId-@student.ID" value="@student.ID" class="govuk-radios__input" />
                                <label class="govuk-label govuk-radios__label govuk-!-margin-bottom-0" for="PupilId-@student.ID">
                                    @student.FirstName @student.LastName
                                    <span class="app-radios-multiline__label-row">@Model.PersonIdAcronym @(Model.CheckingWindow == CheckingWindow.KS5 ? student.ULN : student.UPN)</span>
                                </label>
                             </div>

                             <p class="app-align--below-radios govuk-body-s">
                                <a asp-controller="RemovePupil" asp-action="MatchedPupil" asp-route-id="@student.ID" asp-route-Query="@Model.Query" asp-route-SearchType="@Model.SearchType">View @Model.PersonLowercase</a>
                             </p>
                             }
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <p class="govuk-body">Continue to remove selected @Model.PersonLowercase</p>
            </div>
            <div class="govuk-grid-column-full">
                <input type="submit" class="govuk-button" data-module="govuk-button" value="Continue" />
            </div>
        </div>
        <input type="hidden" asp-for="SearchType" />
        <input type="hidden" asp-for="Query" />
    </form>
}
<partial name="_CancelAmendment" />
