@using Dfe.CspdAlpha.Web.Application.Models.ViewModels.Evidence
@model UploadViewModel
@{
    ViewData["Title"] = Model.GetTitle();
    ViewBag.ContentClass = "app-detail-page-main";
}

@section BackLink
{
    <a class="govuk-back-link" asp-controller="@Model.GetBackController()" asp-action="@Model.GetBackAction()">Back</a>
}

<div asp-validation-summary="All"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">@ViewBag.Title</h1>
    </div>

    <div class="govuk-grid-column-full">
        <details class="govuk-details govuk-!-font-size-16" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    @Model.Pupil.GetPupilDetailsLabel
                </span>
            </summary>
            <div class="govuk-details__text">
                <partial name="_PupilDetailsView" model="@Model.Pupil" />
            </div>
        </details>
    </div>

    <div class="govuk-grid-column-full">
        <p class="govuk-body">Lorem ipsum...</p>
    </div>
</div>

<form method="post" id="upload-form" enctype="multipart/form-data">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds" id="app-upload__files-container">
            <div class="govuk-form-group app-upload__element" asp-for="EvidenceFiles">
                <label class="govuk-label" asp-for="EvidenceFiles">
                    Upload file
                </label>
                <input class="govuk-file-upload" asp-for="EvidenceFiles" type="file">
            </div>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <button class="govuk-button govuk-button--secondary" id="upload-button">Add file</button>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <ul class="govuk-list govuk-!-font-size-16 " id="upload-file-list">
            </ul>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <input type="submit" class="govuk-button" data-module="govuk-button" value="Continue" id="upload-button-next" />
        </div>
    </div>
</form>

<partial name="_CancelAmendment" />
<script webpack-src="submit-evidence"></script>
