@using Dfe.CspdAlpha.Web.Application.Models.ViewModels.Pupil
@model AddPupilAmendmentViewModel
@{
    ViewData["Title"] = "Upload evidence for " + Model.AddPupilViewModel.FullName;
}

@section BackLink
{
    <a class="govuk-back-link" asp-controller="Pupil" asp-action="AddResult">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">@ViewBag.Title</h1>
    </div>

    <div class="govuk-grid-column-full">
        <details class="govuk-details govuk-!-font-size-16" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    View pupil details
                </span>
            </summary>
            <div class="govuk-details__text">
                <partial name="_PupilDetails" model="@Model.AddPupilViewModel" />
            </div>
        </details>
    </div>

    <div class="govuk-grid-column-full">
        <p class="govuk-body">Lorem ipsum...</p>
    </div>
</div>
<form method="post"  enctype="multipart/form-data">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <div class="govuk-radios">
                                <div class="govuk-radios__item app-radios-multiline__item">
                                    <input class="govuk-radios__input" name="SelectedEvidenceOption" id="SelectedEvidenceOption-0" type="radio" value="UploadNow" @(Model.SelectedEvidenceOption == EvidenceOption.UploadNow ? "checked" : string.Empty)>
                                    <label class="govuk-label govuk-radios__label" for="SelectedEvidenceOption-0">
                                        I will provide electronic evidence now
                                    </label>
                                </div>
                                <div class="govuk-radios__item app-radios-multiline__item">
                                    <input class="govuk-radios__input" name="SelectedEvidenceOption" id="SelectedEvidenceOption-1" type="radio" value="UploadLater" @(Model.SelectedEvidenceOption == EvidenceOption.UploadLater ? "checked" : string.Empty)>
                                    <label class="govuk-label govuk-radios__label" for="SelectedEvidenceOption-1">
                                        I will provide electronic evidence before 5pm on DD/MM/YYYY
                                    </label>
                                </div>
                                <div class="govuk-radios__item app-radios-multiline__item">
                                    <input class="govuk-radios__input" name="SelectedEvidenceOption" id="SelectedEvidenceOption-2" type="radio" value="NotRequired" @(Model.SelectedEvidenceOption == EvidenceOption.NotRequired ? "checked" : string.Empty)>
                                    <label class="govuk-label govuk-radios__label" for="SelectedEvidenceOption-2">
                                        I don't need to provide electronic evidence
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <input type="submit" class="govuk-button" data-module="govuk-button" value="Continue" />
        </div>
    </div>
</form>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a asp-controller="TaskList" asp-action="Index" class="app-modal__cancel-link">Cancel amendment</a>
    </div>
</div>
<partial name="_CancelModalContent"/>

