@using Dfe.CspdAlpha.Web.Application.Models.ViewModels
@model PupilListViewModel
@{
    ViewBag.Title = "Key stage 4 pupil list";
}

@section BackLink
{
    <a class="govuk-back-link" asp-controller="Service" asp-action="Index">Back to service provided</a>
}

<partial name="_ConfirmDataBanner" model="@Model.ConfirmDataBanner" />

<partial name="_CheckDataNavigation" model="@Model.CheckDataNavigationModel" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">@ViewBag.Title</h1>
    </div>

    <div class="govuk-grid-column-full">
        <p class="govuk-body-l">Lorem ipsum...</p>
    </div>

    <div class="govuk-grid-column-full">
        <div class="govuk-form-group">
            <label class="govuk-label" for="width-20">
                Search for a pupil
            </label>
            <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
        </div>
    </div>
    <div class="govuk-grid-column-full">
        <a asp-controller="Pupil" asp-action="Add">Add a pupil</a>
        <a href="javascript:window.print()">Print</a>
    </div>
    <div class="govuk-grid-column-full">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">First name</th>
                    <th scope="col" class="govuk-table__header">Last name</th>
                    <th scope="col" class="govuk-table__header">Pupil id</th>
                    <th scope="col" class="govuk-table__header">View pupil</th>
                    <th scope="col" class="govuk-table__header">View/Amend results</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var pupil in Model.Pupils)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@pupil.FirstName</td>
                        <td class="govuk-table__cell">@pupil.LastName</td>
                        <td class="govuk-table__cell">@pupil.PupilId</td>
                        <td class="govuk-table__cell"><a asp-controller="Pupil" asp-action="View">View pupil</a></td>
                        <td class="govuk-table__cell"><a asp-controller="Results" asp-action="View">View/Amend results</a></td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    var pupillist = @Html.Raw(Model.PupilsJson);
</script>
