@using Dfe.CspdAlpha.Web.Application.Application.Helpers
@using Dfe.CspdAlpha.Web.Application.Models.ViewModels.Pupil
@model PupilListViewModel
@{
    var ks5View = Model.CheckingWindow.ToString().StartsWith("KS5");
    ViewBag.Title = ks5View ? "Student list" : "Pupil list";
    ViewBag.ContentClass = "app-detail-page-main";
}

@section BackLink
{
    <text>&nbsp;</text>
}

<partial name="_CheckDataNavigation" model="@Model.CheckDataNavigationModel" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">@ViewBag.Title</h1>
    </div>

    <div class="govuk-grid-column-full">
        <details class="govuk-details govuk-!-font-size-16" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    View school details
                </span>
            </summary>
            <div class="govuk-details__text">
                <partial name="_SchoolDetails" model="@Model.SchoolDetails" />
            </div>
        </details>
    </div>


    <div class="govuk-grid-column-three-quarters">
        <p class="govuk-body">@CheckingWindowHelper.GetCheckingWindowDescription(Model.CheckingWindow)</p>
    </div>
    <div class="govuk-grid-column-one-quarter app-align-right govuk-!-padding-bottom-4">
        <a class="print-link" href="javascript:window.print()">Print</a>
    </div>
</div>
<script type="text/javascript">
      var pupilsJson = @Html.Raw(Model.PupilsJson);
      var urn = '@Model.Urn';
      var checkingWindowURL = '@CheckingWindowHelper.GetCheckingWindowURL(Model.CheckingWindow)';
</script>
<div id="pupil-list-app">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-form-group">
                <label class="govuk-label" for="pupil-search">
                    Search for a @(ks5View ? "student" : "pupil") 
                </label>
                <pupil-search v-model="searchText" />
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <pupil-table :urn="urn" :pupils="filteredPupils" :columns="columns" :checkingWindowURL="checkingWindowURL" />
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <no-results :search-text="searchText" :has-results="hasResults" />
        </div>
    </div>
</div>


@section ViewScripts {
    <script webpack-src="pupil-list"></script>
}
