@using Dfe.CspdAlpha.Web.Application.Models.Common
@using Dfe.CspdAlpha.Web.Application.Models.School;
@using Dfe.Rscd.Web.ApiClient
@model List<Dfe.CspdAlpha.Web.Application.Models.AmendmentListItem>
<table class="govuk-table app-pupil-list-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">First name</th>
            <th scope="col" class="govuk-table__header">Last name</th>
            <th scope="col" class="govuk-table__header">Date requested</th>
            <th scope="col" class="govuk-table__header">Checking window</th>
            <th scope="col" class="govuk-table__header">View requested amendment</th>
            <th scope="col" class="govuk-table__header">Upload evidence</th>
            <th scope="col" class="govuk-table__header">Cancel amendment</th>
            <th scope="col" class="govuk-table__header">Ref ID</th>
            <th scope="col" class="govuk-table__header">Status</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @foreach (var amendment in Model)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="First name">@amendment.FirstName</td>
                <td class="govuk-table__cell" data-label="Last name">@amendment.LastName</td>
                <td class="govuk-table__cell" data-label="Date requested">@amendment.DateRequested.ToString("dd/MM/yyyy")</td>
                <td class="govuk-table__cell" data-label="Checking window">June</td>
                <td class="govuk-table__cell" data-label="View requested amendment"><a asp-controller="Amendments" asp-action="View" asp-route-id="@amendment.Id">View</a></td>
                <td class="govuk-table__cell" data-label="Upload evidence">
                    @if (amendment.Status == "Cancelled")
                    {
                        <span>Not applicable</span>
                    }
                    else if (amendment.EvidenceStatus == EvidenceStatus.Now)
                    {
                        <span>Uploaded</span>
                    }
                    else if (amendment.EvidenceStatus == EvidenceStatus.NotRequired)
                    {
                        <span>Not required</span>

                    }
                    else
                    {
                        <a asp-controller="Evidence" asp-action="Upload" asp-route-id="@amendment.Id">Upload</a>
                    }
                </td>
                <td class="govuk-table__cell" data-label="Cancel amendment">
                    @if (amendment.Status == "Cancelled")
                    {
                        <span>Not applicable</span>
                    }
                    else
                    {
                        <a asp-controller="Amendments" asp-action="Cancel" asp-route-id="@amendment.Id" class="app-modal__cancel-link">Cancel</a>
                    }
                </td>
                <td class="govuk-table__cell" data-label="Ref ID">@amendment.ReferenceId</td>
                <td class="govuk-table__cell" data-label="Status">
                    <span>@amendment.Status</span>
                </td>
            </tr>
        }
    </tbody>
</table>
