@model Dfe.Rscd.Web.ApiClient.Prompt
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                @Model.PromptText
            </h1>
        </legend>
        <div id="changed-name-hint" class="govuk-hint">
            This includes changing your last name or spelling your name differently.
        </div>
        <div class="govuk-radios govuk-radios--inline">
            @foreach (var opt in Model.PromptItemList)
            {
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="@opt.PromptItemOrder" name="listbox" type="radio" value="@opt.PromptItemOrder">
                    <label class="govuk-label govuk-radios__label" for="@opt.PromptItemOrder">
                        @opt.PromptItemValue
                    </label>
                </div>
            }
        </div>
    </fieldset>
</div>
