@model Dfe.Rscd.Web.ApiClient.Question
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <div id="changed-name-hint" class="govuk-hint">
            @Model.Answer.Label
        </div>
        <div class="govuk-radios govuk-radios--inline">
            @foreach (var opt in Model.Answer.AnswerPotentials)
            {
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="@opt.Value" name="boolean" type="radio" value="@opt.Value">
                    <label class="govuk-label govuk-radios__label" for="@opt.Value">
                        @opt.Description
                    </label>
                </div>
            }
        </div>

    </fieldset>
</div>
